selftrack/upload.py
__pycache__
.svelte-kit
selftrack/.env
.DS_Store
node_modules
build
svelte-kit
package
.env
.env.*
.env3
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
data
cleaned
ssl